/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    background: linear-gradient(135deg, #0a0a0a, #1a1a2e);
    color: #eaeaea;
}
/* EFECTO ENERGIA DE FONDO */
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(106,0,255,0.15), transparent);
    z-index: -1;
}

/* ===== TITULOS ===== */
h1 {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #6a00ff, #00d4ff);
    color: white;
    text-shadow: 0 0 15px #6a00ff;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    width: 260px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(106, 0, 255, 0.5);
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 212, 255, 0.8);
}

.card img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #6a00ff;
}

.card h3 {
    margin-top: 10px;
    color: #00d4ff;
}

.ImagenTemporadas {
    display: block;
    margin: 0 auto;
    height: 50vh;
}



/* ===== LISTA EPISODIOS ===== */
.lista-episodios {
    padding: 20px;
}

/* ===== CARD EPISODIO ===== */
.episodio {
    display: flex;
    gap: 15px;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    margin: 15px 20px;
    padding: 12px;
    border-radius: 12px;
    border-left: 4px solid #6a00ff;
    transition: 0.3s;
}

.episodio:hover {
    transform: scale(1.02);
    background: rgba(106, 0, 255, 0.2);
}

/* IMAGEN EPISODIO */
.episodio img {
    width: 130px;
    height: 85px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #00d4ff;
}
